<h3>Displays a Random Flashcard</h3>


<% @random_flashcards.each do |flashcard| %>
	
	<li><%= flashcard.info %></li>

<% end %>



<head>
	<link rel="stylesheet" href="styles/style.css">
<title>

</title>

	<div id ="titlebar">
	PolarTests - Multiple Choice
	</div>

</head>

<body>



<div id="container">

	<div class="answer-container"></div>

	<div id="questiontext"></div>
	
	</div>


	 <script src="/scripts/jq.js"></script>
	 <script src="/scripts/true_or_false_scripts.js"></script>
</body>


